*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    background: cornflowerblue;
    color: blue;
}
a {
    font-size: 20px;
    color: brown;
    text-decoration: none;
}
#description {
    padding: 15px;
}
footer{
    background: cornflowerblue;
}
.parrafo{
    font-weight: lighter;
}
#formulario {
    border: 5px solid green;
    margin-top:15px ;
    margin-bottom: 15px;
    padding: 10px;
}
#formulario *{
    display: block;
}
input[type="text"]{
    margin-bottom: 15px;
    padding: 10px;
}
input[type="submit"]{
    background: green;
    border-radius: 45%;
}